@model IEnumerable<BiletaraKino.Models.CinemaRoom>

@{
    ViewBag.Title = "Index";
}

<h2>Cinema Rooms</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="cinemaRoomsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", new { id = item.CinemaRoomId})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CinemaRoomId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CinemaRoomId }) |
                    <!--@Html.ActionLink("Delete", "Delete", new { id = item.CinemaRoomId })-->
                    <a class="btn-link js-delete" data-id="@item.CinemaRoomId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        var table = $("#cinemaRoomsTable").DataTable();
        $("#cinemaRoomsTable .js-delete").on("click", function () {
            var button = $(this);
            bootbox.confirm("Do you want to delete this cinema room?",
                function (result) {
                    if (result) {
                        $.ajax({
                            url: "/CinemaRooms/Delete" + button.attr("data-id"),
                            method: "GET",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
        });
    </script>
}