@model BiletaraKino.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            <img src="@Model.ImageURL" style="max-width:150px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>

<div>
    <h2>This Movie is available in Cinema Rooms:</h2>
    <ul>
        @foreach (var cinemaRoom in Model.CinemaRooms)
        {
            <li>
                <a href="/CinemaRooms/Details/@cinemaRoom.CinemaRoomId">@cinemaRoom.Name, @cinemaRoom.Number</a>
            </li>
        }
    </ul>
</div>

<div>
    <a href="/Movies/AddMovieToCinemaRoom/@Model.MovieId">Add Movie to Cinema Room</a>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
